[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
asgiref = "*"
dj-database-url = "*"
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlparse = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
