{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>First Glance</title>
</head>

<body>
    <header class="navbar-fixed">
        <nav class="nav-wrapper indigo" role="navigation">
            <ul class="right">
                <li><a id="logo-container" href="/" class="brand-logo">First Glance</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"> Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="card-content valign center">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer orange">
        <div class="container center-align">&copy; 2022 Casey Voss</div>
    </footer>
</body>

</html>